:where([class^="ri-"])::before {
    content: "\f3c2";
}

.gradient-bg {
    background: linear-gradient(135deg, #af8313 0%, #be9428 100%);
}

.gradient-text {
    background: linear-gradient(135deg, #B8860B 0%, #DAA520 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-hover:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}